body,
html {
    background-color: #F5F5F7;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.columns {
    height: 100vh;
}

img {
    object-fit: cover;
}

@supports (height: 100dvh) {
    body,
    html {
        width: 100dvw;
        height: 100dvh;
    }
    .columns {
        height: 100dvh;
    }
}

.card {
    z-index: 1;
}

.curved {
    /* border-radius: 28px; */
}