body {
  background-color: #eef0f1;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#header {
  margin: 0;
  height: 300px;
  background-image: url("../images/header.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(100% + 50px);
  position: relative;
  left: -25px;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  filter: brightness(60%);
}

#left-column {
  position: relative;
  top: -175px;
}

#right-column {
  position: relative;
  top: -25px;
  color: #363636;
}

#tabs {
  border: none;
}

#tabs .card-footer {
  border: none;
}

.selected-tab {
  color: #485fc7;
  border-bottom: 4px solid #485fc7;
}

#experience {
  border-bottom-right-radius: none;
  border-bottom-left-radius: 4px;
}

#code {
  border-bottom-left-radius: none;
  border-bottom-right-radius: 4px;
}

.profile-pic {
  border-radius: 0.25rem;
  margin-bottom: 25px;
}

#info {
  margin-bottom: 25px;
}

#left-column a {
  margin-bottom: 25px;
  width: 100%;
}

.card {
  margin-bottom: 25px;
  border: 1px solid #d6d8da;
}

.card-content {
  margin-left: 15px;
}

.is-size-5 {
  font-weight: bold;
}

.delete {
  position: relative;
  top: -4px;
}

#repo {
  margin-bottom: 0px;
}

#repo .card-content {
  min-height: 175px;
}

@media (max-width: 669px) {
  #right-column {
    position: relative;
    top: -200px;
  }

  #info {
    text-align: center;
  }

  #joke {
    text-align: center;
  }

  #img {
    display: block;
    margin: 0 auto 25px auto;
  }

  #header {
    width: 100%;
    position: relative;
    left: 0px;
    margin: 0;
    border-radius: 0;
  }

  #content {
    margin: 0;
  }

}

.hidden {
  display: none;
}

.dot {
  height: 8px;
  width: 8px;
  margin: 0px 8px 3px -20px;
  border-radius: 2px;
  display: inline-block;
}

#red {
  background-color: #C8102E;
}

#blue {
  background-color:  #0076BC;
}

#orange {
  background-color: #E87722;
}