body,
html {
    background-color: #EDEDED;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.columns {
    height: 100vh;
}

@supports (height: 100dvh) {
    body,
    html {
        width: 100dvw;
        height: 100dvh;
    }
    .columns {
        height: 100dvh;
    }
}

.card {
    z-index: 1;
    transition: 0.3s ease-in-out 0s;
}

.card:hover {
    transform: scale(1.02);
}


.curved {
    border-radius: 28px;
}