.indent { 
    margin-left: 15px;
}

img {
    border: 2px solid #4DB6AC;
    border-style: solid;
}

.btn-small {
    width: 130px;
    margin: 5px 0;
}

body {
    background-color: #212121;
    color: white;
}

.collapsible-header {
    border-bottom: 1px solid #121212;
    background-color: #2B2B2B;
}

.collapsible-body {
    border: 0px solid black;
    border-bottom: 1px solid #121212;
    background-color: #313131;
}

.collapsible {
    border: 0px solid black;
    background-color: #121212;
}

.card {
    background-color: #373737;
    border-left: 2px solid #4DB6AC;
    color: white;
}

#toggle {
    color: white;
}